.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #f7f7f7;
}

/* Labels */
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* TextFields */
.text-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cccccc;
    -fx-padding: 5 10 5 10;
}

/* ComboBox */
.combo-box {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cccccc;
}

/* Botones */
.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
}

.button:hover {
    -fx-background-color: #45a049;
}

/* Tabla (TableView) */
.table-view {
    -fx-background-color: white;
    -fx-border-color: #dddddd;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.table-column {
    -fx-alignment: CENTER_LEFT;
}
